[Unit]
Description=服务的描述
After=network.target

[Service]
ExecStart=/usr/local/bin/打印每秒时间.py
WorkingDirectory=/tmp
Restart=always
RestartSec=10
StandardError=append:/tmp/shynur.ws.debian-pkg.log.txt
ExecStartPre=/bin/bash -c '[ "`cat /tmp/shynur.ws.debian-pkg.log.txt`" ] || echo "; -*- eval: (auto-revert-tail-mode); -*-" >/tmp/shynur.ws.debian-pkg.log.txt'
ExecStartPre=/bin/chmod 666 /tmp/shynur.ws.debian-pkg.log.txt

[Install]
WantedBy=multi-user.target
